/*===================================================================
homepage
===================================================================*/
.text-highlight {
    background-color: rgba($black, 0.25);
}
.homepage-hero {
    background: url('http://www.arkitect.it//asset/img/large/home-background.jpg') no-repeat center center;
    background-size: cover;
    height: 90%;
    overflow: hidden;
    h1 {
        font-size: 4rem;
        color: white;
        font-weight: 500;
        line-height: 4.8rem;
        text-align: center;
        margin-top: 4rem;
        @media #{$small-only} {
            font-size: 2rem;
            line-height: 3rem;
            margin-top: 2rem;
        }
    }
}

.img-logo {
    left: 0px;
    top: 0px;
    max-width: $topbar-height;
    position: absolute;
}

.extra-space-button {
    margin-top: 6rem;
}

/*===================================================================
margini per allineare le aside e i button
===================================================================*/

.extra-space-hero {
    margin-top: 1rem;
}

.align-image {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media #{$small-only} {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.h1-space {
    margin-top: 1rem;
    @media #{$small-only} {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }
}

.button-space {
    margin-top: 0.5rem;
    @media #{$small-only} {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

.progetti-space {
    margin-top: 2rem;
    @media #{$small-only} {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }
}
.image-space {
    margin-top: 1.75rem;
    margin-bottom:2rem;
}

/*===================================================================
footer
===================================================================*/

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer {
    background-color: $gray-color;
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem 0;
    p {
        &.slogan {
            font-size: 1.8rem;
            color: $link-color;
            margin: 0 0 0.5rem;
        }
        &.copywrite {
            font-size: 0.875rem;
            margin: 0;
        }
    }
    .links a {
        list-style: none;
        color: $link-color;
        :hover {
            color: $topbar-link-color-hover;
        }
        padding: 0rem 0rem;
        margin: 0;
        &::after {
            content: "";
            padding: 0 0.5rem;
            margin:0;
        }
        &:last-child::after {
            content: "";
            padding: 0;
            margin:0;
        }
    }
}

.social-icon {
    padding: 0 0.5rem;
    fill: $link-color;
    :hover {
        fill: $topbar-link-color-hover;
    }
}

i {
    font-style: normal;
    padding-right:0.3rem;
}

h1 {
    text-transform: uppercase;
}
.footer-chi-space {
    margin-top: 4rem;
    @media #{$small-only} {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }
}

