/*===================================================================
bordo per debugging
===================================================================*/

// .columns, .column {
//     border: 1px solid green;
// }

// del {
//     color: red;
// }
/*===================================================================
logo - cards
===================================================================*/

.img-logo {
    width: 83px;
    height: 83px;
    margin-left: -28px;
    margin-top: -6px;
    @media #{$small-only} {
        width:83px;
        height:83px;
    }
}

.img-cards {
    margin-top: 0.5rem;
    margin-right: 1rem;
}
/*===================================================================
margini per allineare le aside e i button
===================================================================*/

.extra-space-hero {
    margin-top: 1rem;
}
.extra-space {
    margin-top: 2rem;
}
.extra-space-modal {
    margin-top: 3rem;
}
.extra-space-footer {
    margin-top: 4rem;
}
.extra-space-image-tab-home {
    margin-top: 0.5rem;
    @media #{$small-only} {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
.extra-space-image-tab-contatti {
    margin-top: 3.9rem;
    @media #{$small-only} {
        margin-top: 1rem;
    }
}
.extra-space-text-tab-contatti {
    margin-top: 0.35rem;
    @media #{$small-only} {
        margin-top: 1rem;
    }
}
.extra-space-video {
    margin-top: 0.35rem;
    @media #{$small-only} {
        margin-top: 1rem;
    }
}
.extra-space-aside-tab-immagini {
    margin-top: 1.25rem;
}
.extra-space-aside-video {
    margin-top: 1.45rem;
}
.extra-space-aside-tab-chi-siamo {
    margin-top: -0.15rem;
}
.extra-space-aside-tab-menu {
    margin-top: 3.8rem;
}
.extra-space-blog {
    margin-top: 1rem;
    @media #{$small-only} {
        margin-top: .5rem;
    }
}
.extra-space-aside {
    margin-top: 2.8rem;
}
/*the following control extra margin for blog articles and menu products detail*/
.extra-margin-first-paragraph-blog {
    margin-top: 0.8rem;
}
.extra-space-button {
    margin-top: 0.5rem;
}
.extra-space-from-tabs {
    margin-top: 0.8rem;
    @media #{$small-only} {
        margin-top: 0.6rem; 
    }
}
.no-margin-list-bullet {
    margin-top:-1.1rem;
}
.no-margin-inline-list {
    margin-left:-22px;
}
.menu-subheader {
    margin-top:-0.7rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    @media #{$small-only} {
        font-size: 1.35rem;
        margin-top:-0.4rem;
        line-height: 1.4rem;
    }
}
